[submodule "smart-industrial-database"]
	path = smart-industrial-database
	url = git@github.com:MassimilianoBaglioni/smart-industrial-database.git
[submodule "RAG5"]
	path = RAG5
	url = git@github.com:MassimilianoBaglioni/RAG5.git
[submodule "KB"]
	path = KB
	url = git@github.com:MassimilianoBaglioni/KB.git
[submodule "KPI-Engine"]
	path = KPI-Engine
	url = git@github.com:MassimilianoBaglioni/KPI-Engine.git
[submodule "data-preprocessing-"]
	path = data-preprocessing-
	url = git@github.com:MassimilianoBaglioni/data-preprocessing-.git
