[submodule "smart-industrial-database"]
	path = smart-industrial-database
	url = git@github.com:Kreative-Performative-Individuals/smart-industrial-database.git
[submodule "kpi-engine"]
	path = kpi-engine
	url = git@github.com:Kreative-Performative-Individuals/KPI-Engine.git
